<div id="<%= dom_id confirmation %>">
  <p>
    <strong>Name:</strong>
    <%= confirmation.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= confirmation.phone %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= confirmation.comment %>
  </p>

</div>
